body {
  color: white;
  background-color: black;
}
figcaption {
  color: #bb021e;
  font-family: 'Roboto condensed', sans-serif;
  padding: 2em 0;
  text-align: center;
}

figure {
  margin: 1em 0 1em 0;
}

.modal-content{
    background-color: #6b777d;	
}
